h1 {  font-family: Geneva, Arial, Helvetica, san-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: bold}
code {  font-family: "Courier New", Courier, mono}
p {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #FFFFFF}
h2 {  font-family: Arial, Helvetica, sans-serif; color: #FFFFFF; clip:   rect(   ); padding-left: 20px; font-size: 14px; background-color: #003333; margin-left: 20px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; margin-right: 20px; font-style: normal; font-weight: normal; text-indent: -10pt}
li {  font-family: Geneva, Arial, Helvetica, san-serif; font-size: 14px}
a {  font-weight: bold}
